a {
  text-decoration: none;
}

.ContactInfo {
  justify-content: center;
}

.AppSection {
  padding: 1rem 0;
}

.AppSectionParagraph {
  font-size: 1.3rem;
  text-align: justify;
  padding: 1rem 2rem;
}

.ContactInfoParagraph {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: .13rem;
}

.App {
  background-color: #282c34;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.Avatar-logo {
  height: 4rem;
  pointer-events: none;
}

.App-logo {
  opacity: .8;
}

.App-language {
  opacity: .7;
}

.Section-Title {
  font-weight: normal;
  font-size: 2rem;
}

.Section-SubTitle {
  font-weight: normal;
  font-size: 1.3rem;
}

.Building {
  color: yellow;
}

@media only screen and (max-width: 400px) {
  .App-logo {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .AppSectionParagraph {
    letter-spacing: .13rem;
    margin: 3rem 3rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    //animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .AppSection {
    animation: App-content-opacity 1s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-content-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
